@import "tailwindcss";

:root {
  font-family: -ui-sans-serif, --apple-system, Avenir, Helvetica, Arial,
    sans-serif;
  /* line-height: 1.5; */
  /* font-weight: 400; */

  color-scheme: light dark;
  color: #fff;
  background-color: #212121;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
